<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <button type="button" class="btn-send-one" data-destination="page1">기기 1개, page1로 이동</button>
  <button type="button" class="btn-send-one" data-destination="page2">기기 1개, page2로 이동</button>
  <button type="button" class="btn-send-one" data-destination="page3">기기 1개, page3로 이동</button>

  <!-- jquery -->
  <script src="/javascripts/jquery-3.4.1.min.js"></script>
  <script>
    $(document).ready(function () {
      // device one
      $('.btn-send-one').on('click', function () {
        const destination = $(this).data('destination');

        $.ajax({
          type: "POST",
          url: "/ajax/sendNotificationOne",
          data: {
            destination: destination
          },
          dataType: "JSON",
          success: function (response) {
            console.log(response)
          },
          error: function (err) {
            console.log(err);
          }
        })
      })
    })
  </script>
</body>

</html>